<div class="subcategory-header">
      <div class="jumbotron">
        <h1>Committed Services</h1>
        <h2>Listed below you will find all of the upcoming opportunities you have agreed to commit to</h2>
      </div>
    </div>

    
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/admin.png" alt="Administrative Service">
          <div class="caption">
            <h3>Administrative</h3>
            <p>From: October 9, 2015 9:00am</p>
            <p>To: October 9, 2015 5:00pm</p>
            <p>Where: 123 Fake St. Charlotte, NC 28202</p>
            <p>Notification: via e-mail</p>
            <p>Contact: 704-555-1111</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/food.jpg" alt="Administrative">
          <div class="caption">
            <h2>Friendship Trays</h2>
            <p>From: February 9, 2015, 9:00 AM</p>
            <p>To: February 9, 2015, 5:30 PM</p>
            <p>Location: 123 Fake Street, Charlotte, NC 28205</p>
            <p>Notification: via e-mail</p>
            <p>Contact: 704-355-1234</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/education.jpg" alt="Administrative">
          <div class="caption">
            <h2>Educational Service</h2>
            <p>From: February 9, 2015, 9:00 AM</p>
            <p>To: February 9, 2015, 5:30 PM</p>
            <p>Location: 123 Fake Street, Charlotte, NC 28205</p>
            <p>Notification: via e-mail</p>
            <p>Contact: 704-355-1234</p>
          </div>
        </div>
      </div>
    </div>
